:root{
    --vermelho: #E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Não ultrapassa a caixa */
}

body{
   background: var(--preta); 
   font-family: 'Arial', Times, serif;
   color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff; 
}

/* __________ Class ________ */
.container {
    margin: 0px 20px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

/* Principal */
main .filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),
    url('/img/capa-handmandstale.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .filme-principal .descricao{
    margin: 10px 0px 40px 0px;
}

main .filme-principal .titulo {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .filme-principal .container{
    width: 70%;
}

main .botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    /* font-size: 12px; */

    cursor: pointer;
}

main .botao:hover{
    background-color: white;
    color: black;
    transition: .5s ease all;
}

main .botao i{
    margin: 0px 8px;
}

.box-filme{
    height: 100%;
}
 .carrossel-filmes{
     margin: 5px 0px;
 }